@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.pizza-button {
  background-color: orange !important;
  color: aliceblue !important;
}

.item-details:hover {
  z-index: 2;

  transition: all 400ms ease-in;
  transform: scale(1.1);
}

.hero-badge {
  padding: 3px;

  background-color: orange;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}
